@font-face {
    font-family: 'wjs';
    src: url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.svg') format('svg'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff');
}

.wjs_icon{
    font-family:'wjs';
}

.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_word::before{
    content: "\e93e";
}
.wjs_icon_E903::before{
    content: "\e903";
}
.wjs_icon_E906::before{
    content: "\e906";
}
.wjs_icon_E905::before{
    content: "\e905";
}
.wjs_icon_E907::before{
    content: "\e907";
}
.wjs_icon_E901::before{
    content: "\e901";
}
.wjs_icon_E900::before{
    content: "\e900";
}
.wjs_icon_E904::before{
    content: "\e904";
}
.wjs_icon_E902::before{
    content: "\e902";
}
.wjs_icon_E906::before{
    content: "\e906";
}
.wjs_icon_new01::before{
    content: "\e90e";
}
.wjs_icon_new02::before{
    content: "\e90f";
}
.wjs_icon_new03::before{
    content: "\e910";
}
.wjs_icon_new04::before{
    content: "\e911";
}
.wjs_icon_partner01::before{
    content:"\e946";
}
.wjs_icon_partner02::before{
    content: "\e92f";
}
.wjs_icon_partner03::before{
    content: "\e92e";
}
.wjs_icon_partner04::before{
    content: "\e92a";
}
.wjs_icon_partner05::before{
    content: "\e929";
}
.wjs_icon_partner06::before{
    content: "\e931";
}
.wjs_icon_partner07::before{
    content: "\e92c";
}
.wjs_icon_partner08::before{
    content: "\e92b";
}
.wjs_icon_partner09::before{
    content: "\e92d";
}
a{
    color: #333;
}
a:hover{
    color: #333;
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #ccc;
}
.header .item{
    height:40px;
    line-height:40px;
    text-align: center;
    font-size:12px;
}
.header .item + .item{
    border-left:1px solid #ccc;
}
.header .showCode img{
    position: absolute;
    top:40px;
    left:50%;
    transform:translateX(-50%);
    border:1px solid #ccc;
    border-top:1px solid #fff;
    display: none;
}
.header .showCode span:nth-child(2){
    margin:0 3px;
}
.header .showCode:hover img{
    display: block;
}

.header .item .btn-register{
    padding:3px 15px;
    background:#E92322;
    font-size:12px;
}
.header .item .links{
    margin:0 4px;
}
.navbar-custom{
    background: #fff;
}

.navbar-custom .navbar-nav>li>a{
    padding:30px 15px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background: #fff;
    color: #333;
    border-bottom:3px solid #E92322;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    background: #fff;
    color: #555;
    border-bottom:3px solid #E92322;
}
.navbar-custom .logo{
    height:83px;
    line-height:83px;
    margin:0 13px 0 0;
    padding:0;
}
.navbar-custom .logo span{
    vertical-align: middle;
}
.navbar-custom .logo .wjs_icon_logo{
    color: #E92322;
    font-size:50px;
}
.navbar-custom .logo .wjs_icon_word{
    color: #333;
    font-size:36px;
}
.navbar-custom .navbar-toggle{
    border:1px solid #000;
    margin-top: 25px;
}
.navbar-custom .navbar-toggle span{
    background:#000;
}
.navbar-custom{
    margin-bottom:0;
}
.pc-image{
    display: block;
    width:100%;
    height:410px;
    background-position: center top;
    background-repeat:no-repeat;
}

.mobile-image{
    display: block;
    width:100%;
}

.mobile-image img{
    width:100%;
}
.mybanner{
    border-top:1px solid #ccc;
}

.pay{
    margin-top:56px;
    margin-bottom:26px;
}

.pay .media:hover{
    color: red;
}
.pay .media .wjs_icon_E903{
    font-size:30px;
}
.pay .item{
    margin-bottom:30px;
}
@media screen and (min-width:1200px){
    .pay{
        width:960px;
    }
}

.order{
    padding:25px 0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.order .wjs_icon_E906{
    font-size:18px;
}
.order .order-word{
    color: #E92322;
    border-bottom:1px dashed #E92322;
}
.order .pull-right a:hover span{
    color: #E92322;
}
.order .wjs_icon_E905{
    font-size:18px;
}

.groom{
    background:#f5f5f5;
    padding:30px 0;
}
.groom .container{
    overflow: hidden;
}
.groom .nav-tabs {
    border-bottom:1px solid #ddd;
}
.groom .nav-tabs > li.active > a,
.groom .nav-tabs > li.active > a:hover,
.groom .nav-tabs > li.active > a:focus{
    border:0;
    border-bottom:3px solid #e92322;
    background:#f5f5f5;
}
.groom .nav-tabs li{
    margin-left:22px;
}

.groom .nav-tabs li a{
    border:0;
    background:#f5f5f5;
}

.groom .item{
    margin-top:25px;
}
.groom .item a{
    box-shadow:2px 2px 2px #d8d8d8;
}
.groom .item a{
    display: block;
    height:150px;
    background:#fff;
    color: #333;
}
.groom .item a .percent{
    color: #E92322;
}
.groom .item a.active {
    background:#e92322;
    color: #fff;
}
.groom .item .box_left{
    height:150px;
    overflow: hidden;
}
.groom .item .box_left h3{
    font-size:16px;
}
.groom .item .box_left p{
    margin-bottom:4px;
    font-size:12px;
}
.groom .item .box_right{
    height:150px;
    width:107px;
    border-left:1px dashed #fff;
    position: relative;
}
.groom .item .box_right::before{
    content:"";
    position: absolute;
    width:12px;
    height:12px;
    border-radius:50%;
    background:#f5f5f5;
    left:-6px;
    top:-6px;
    box-shadow:0px -2px 2px #d8d8d8 inset;
}
.groom .item .box_right::after{
    content:"";
    position: absolute;
    width:12px;
    height:12px;
    border-radius:50%;
    background:#f5f5f5;
    left:-6px;
    top:144px;
    box-shadow:0px 2px 2px #d8d8d8 inset;
}
.groom .box_right .percent{
    font-size:44px;
    font-weight:bold;
    margin-bottom:8px;
    padding-top:25px;
}
.groom .item .active .percent{
    color: #fff;
}
.groom .box_right .percent sub{
    bottom:0;
    font-weight:normal;
    font-size:12px;
    margin-left:2px;
}
.groom .box_left .row{
    margin-left:0;
    margin-right:0;
}
.groom .product_box.active::before{
    content: "\e915";
    font-family:"wjs";
    position: absolute;
    font-size:33px;
    top:-7px;
    left:15px;
}

.news{
    padding:30px 0;

}
.news .news_title{
    height:49px;
    line-height:49px;
    font-size:20px;
    border-bottom:1px solid #ccc;
    position:relative;
}
.news .line{
    border:1px dashed #ccc;
    position: absolute;
    width:0;
    height:100%;
    top:0;
    margin-left:-3px;
    left:50%;
    z-index:-1;
}
.news .news_title::before{
    content:"";
    width:6px;
    height:6px;
    position:absolute;
    border:1px solid #ccc;
    border-radius:50%;
    bottom: -3px;
    right: -6px;
}

.news .nav-tabs.news_list {
    border-bottom:1px solid transparent;
}
.news .news_list a{
    display: block;
    width:60px;
    height:60px;
    line-height: 1.42857143;
    text-align: center;
    background:#ccc;
    border-radius:50%;
    margin-right:0;
    margin-bottom:60px;
}
.news .nav-tabs > li > a:hover {
    border:1px solid transparent;
    background-color: #e92322;
}
.news .news_list>li.active> a,
.news .news_list>li.active> a:hover,
.news .news_list>li.active> a:focus{
    background:#E92322;
    border:1px solid transparent;
    bottom:0;

}
.news .news_list a span{
    color: #fff;
    font-size:30px;
}
.news .con_list{
    padding-left:0;
}
.news .con_list li{
    list-style: none;
    padding:15px 0;
}
.news .news_list li:last-child a{
    margin-bottom:0;
}

@media screen and (max-width:992px){
    .news .news_title{
        width:100%;
    }
    .news .nav-tabs{
        text-align: center;
    }
    .news .news_list li{
        display: inline-block;
        float: none;
    }
    .news .news_list a{
        margin-bottom:20px;
        magin-right:auto;
        margin-left:auto;
    }
    .news .con_list li{
        text-align: center;
    }
    .news .con_list li a{
        display: inline-block;
        width:70%;
        white-space:nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    .news .con_list li span{
        display: inline-block;
        width:30%;
    }
}


.partner{
    background: #f5f5f5;
    padding:30px 0;
}
.partner h5{
    font-size:24px;
}
.partner span{
    font-size:60px;
    margin:5px 10px;
}
